{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<section>
<div class="info">
    <h2 class="the-header">Order the Best <br> Pizza Anytime</h2>
    <p>Get your favorite pizza delivered to your doorsteps in no time.</p>
</div>
<a href="create">
<button class="Btn">
    Order
    <svg class="svgIcon" viewBox="0 0 576 512"><path d="M512 80c8.8 0 16 7.2 16 16v32H48V96c0-8.8 7.2-16 16-16H512zm16 144V416c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V224H528zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm56 304c-13.3 0-24 10.7-24 24s10.7 24 24 24h48c13.3 0 24-10.7 24-24s-10.7-24-24-24H120zm128 0c-13.3 0-24 10.7-24 24s10.7 24 24 24H360c13.3 0 24-10.7 24-24s-10.7-24-24-24H248z"></path></svg>
  </button>
  </a>
</section>

<section class="articles">
    <article>
      <div class="article-wrapper">
        <figure>
          <img src="{% static 'pizza.png' %}" alt="" />
        </figure>
        <div class="article-body">
          <h2>About</h2>
          <p>
            A Michelin-star pizza restaurant offers gourmet, handcrafted pizzas with premium ingredients, expert techniques, and impeccable service, delivering an unforgettable, elevated dining experience.
          </p>
          <a href="home" class="read-more">
            Explore<span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
    <article>
  
      <div class="article-wrapper">
        <figure>
          <img src="{% static 'order.png' %}" alt="" />
        </figure>
        <div class="article-body">
          <h2>Menu</h2>
          <p>
            A Michelin-star pizza restaurant offers gourmet, handcrafted pizzas with premium ingredients, available for dine-in or online ordering, ensuring an exceptional culinary experience both in-shop and at home.
          </p>
          <a href="menu" class="read-more">
            Explore <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
    <article>
  
      <div class="article-wrapper">
        <figure>
          <img src="{% static 'team.png' %}" alt="" />
        </figure>
        <div class="article-body">
          <h2>Contact Us</h2>
          <p>
            Contact us for the best pizza experience! Order online or visit our restaurant. Reach out for reservations, catering, or inquiries—we’re happy to serve you!
          </p>
          <a href="contact" class="read-more">
            Explore<span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
  </section>



{% endblock %}